doctype html
// Declare the name of the module in ng-app
html(lang='en' ng-app="animalApp")
    head
        meta(charset="utf-8")
        title Untitled
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
        // Resource allows us to interact with the backend
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
        // Route allows us to configure our front end routes
        script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
        script(src="main.js")
        
    body
        block content