doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title Welcome to Jade

    body
        block content

        div.other-content
            block otherContent
        
        div.form
            block form